@keyframes hoverBtn {
  0% {
    transform: translate(-3px, -3px);
  }
  14% {
    transform: translate(0px, -3px);
  }
  28% {
    transform: translate(3px, -3px);
  }
  42% {
    transform: translate(3px, 0px);
  }
  57% {
    transform: translate(3px, 3px);
  }
  71% {
    transform: translate(0, 3px);
  }
  85% {
    transform: translate(-3px, 3px);
  }
  100% {
    transform: translate(-3px, 0px);
  }
}
@keyframes hoverBtnReverse {
  0% {
    transform: translate(3px, 3px);
  }
  14% {
    transform: translate(0px, 3px);
  }
  28% {
    transform: translate(-3px, 3px);
  }
  42% {
    transform: translate(-3px, 0px);
  }
  57% {
    transform: translate(-3px, -3px);
  }
  71% {
    transform: translate(0, -3px);
  }
  85% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(3px, 0px);
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden visible;
  background-color: #fafafa;
}

h1 {
  font-family: "Press Start 2P", cursive;
  background: -webkit-linear-gradient(#91CC92, #F2EB8D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  letter-spacing: 4px;
  margin: 0;
}

h2 {
  font-family: "Playfair Display", serif;
}

p, button, li, a {
  font-family: "Source Sans Pro", sans-serif;
}

button {
  background-color: white;
  border: none;
}

p {
  font-size: 20px;
}

.svg-competence {
  font-family: sans-serif;
  height: 70px;
  width: 70px;
}
@media screen and (max-width: 599px) {
  .svg-competence {
    height: 50px;
    width: 50px;
    border-radius: 5px;
  }
}

.svg-competenceProjet {
  height: 50px;
  width: 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 599px) {
  .svg-competenceProjet {
    height: 30px;
    width: 30px;
  }
}

figure {
  margin: 0;
}

.version-competence {
  font-size: 65px;
  opacity: 0.4;
}
@media screen and (max-width: 599px) {
  .version-competence {
    font-size: 40px;
    border-radius: 0 2rem;
  }
}

ul {
  list-style-type: none;
}

.tittleSection {
  position: relative;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  margin-bottom: 3rem;
}
.tittleSection::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: #F67095;
}

section {
  margin-top: 3rem;
}

/*
.titre-competence {
    fill: #ffffff;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0 0 1px #000000;
}


*/
.navbar-toggler:focus {
  color: #ADCC91;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-nav {
  width: 100%;
}

@media screen and (max-width: 599px) {
  .headerTittle {
    font-size: 1rem;
  }
}

.headerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
  width: 150px;
  height: 50px;
  font-size: 20px;
  padding: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.headerBtn:hover::before, .headerBtn:hover::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #91CC92;
  border-radius: 5rem;
  animation: 2s hoverBtn infinite;
}

.headerBtn:hover::after {
  background-color: #ADCC91;
  animation: 2s hoverBtnReverse infinite;
}

.textBtn {
  background-color: white;
  margin: 0;
  padding-top: 5%;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
}

.navbar-nav {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-link {
  width: min-content;
}

.containerImgLeft, .containerImgRight {
  position: relative;
}

.imgHome {
  width: 100%;
  border-radius: 0 5rem;
  object-fit: cover;
  height: 30rem;
}

.containerTextStart {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.containerTextStart h1 {
  font-size: 2rem;
}
.containerTextStart h2 {
  color: black;
  font-size: 2rem;
  padding: 0 2rem 0 2rem;
}
.containerTextStart p {
  padding: 1rem 2rem;
}
@media screen and (max-width: 599px) {
  .containerTextStart p {
    font-size: 1rem;
  }
}

.elementDeco {
  position: absolute;
}

.span1 {
  background-color: #F2EB8D;
  top: 10%;
  left: 0;
  width: 50px;
  height: 100px;
  border-radius: 0 4rem 4rem 0;
}

.span2 {
  background-color: #F67095;
  top: 82%;
  left: 80%;
  width: 50px;
  height: 50px;
  border-radius: 2rem;
}

.span3 {
  background-color: #91CC92;
  top: 90%;
  left: 10%;
  width: 75px;
  height: 75px;
  border-radius: 0 2rem 2rem 2rem;
}

.span4 {
  background-color: #ADCC91;
  top: -5%;
  left: 80%;
  width: 50px;
  height: 50px;
  border-radius: 2rem;
}

.bg-postIt {
  padding: 0.5rem;
  background: #91CC92;
  background: -moz-linear-gradient(-45deg, #91CC92 0%, #F2EB8D 50%, #F67095 100%);
  background: -webkit-linear-gradient(-45deg, #91CC92 0%, #F2EB8D 50%, #F67095 100%);
  background: linear-gradient(135deg, #91CC92 0%, #F2EB8D 50%, #F67095 100%);
  border-radius: 0 5rem;
}

.post-it {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f9efed;
  border-radius: 0 5rem;
  padding: 2rem;
}

.bg-postIt-reverse {
  padding: 0.5rem;
  background: #F67095;
  background: -moz-linear-gradient(45deg, #F67095 0%, #F2EB8D 50%, #91CC92 100%);
  background: -webkit-linear-gradient(45deg, #F67095 0%, #F2EB8D 50%, #91CC92 100%);
  background: linear-gradient(45deg, #F67095 0%, #F2EB8D 50%, #91CC92 100%);
  border-radius: 5rem 0;
}

.post-it-reverse {
  border-radius: 5rem 0;
}

.elementListDiplome {
  position: relative;
  padding: 0 0 0 50px;
  margin-top: 1.5rem;
}
.elementListDiplome::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #F2EB8D;
  top: 5px;
  left: -5px;
}

.timeDiplome {
  color: #F67095;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.nameDiplome {
  color: rgb(1, 121, 17);
  font-size: 25px;
}
.nameDiplome span {
  color: grey;
  font-size: 20px;
}

.hardSkillsList {
  display: flex;
  margin: 2rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.hardSkillsList li {
  text-align: center;
  margin: 0.5rem;
}

.competencePs {
  color: gray;
}

.logoHardSkills {
  border-radius: 15px;
}

.carousel-inner img {
  height: 400px;
  border-radius: 0 5rem;
}
@media screen and (max-width: 599px) {
  .carousel-inner img {
    height: 200px;
  }
}

.btn-carousel {
  background-color: #91CC92 !important;
}

.bi-arrow-left-circle-fill, .bi-arrow-right-circle-fill {
  font-size: 2rem;
  color: #91CC92;
}

.carousel-caption {
  position: relative;
  right: auto;
  left: auto;
}
.carousel-caption h3 {
  margin-top: 1rem;
  color: #F67095;
}
.carousel-caption h5 {
  color: #91CC92;
}
.carousel-caption li {
  color: black;
}

.sectionXp .nameDiplome {
  margin: 0;
}

.sectionSoft ul, .sectionInterets ul {
  padding-left: 3rem;
}
.sectionSoft li, .sectionInterets li {
  list-style-type: circle;
  color: grey;
}

.sectionContact img {
  width: 30%;
  border-radius: 0 5rem;
}

.contactContainerImgText {
  display: flex;
}

.contactContainerText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.contactText {
  display: flex;
  flex-direction: row;
}
.contactText i {
  margin-right: 1rem;
  color: #91CC92;
}
.contactText a, .contactText p {
  text-decoration: none;
  color: green;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.lienCv {
  padding: 0.5rem 1.5rem;
  font-size: 20px;
  font-weight: 600;
  color: #F67095;
  border-radius: 2rem;
}

/*# sourceMappingURL=App.css.map */
